# temporários e saídas locais
temp_predict/
temp_uploads/
runs/

# pesos e modelos locais
*.pt

# ambiente virtual
venv/

# cache Python
__pycache__/
*.pyc

# datasets locais
datasets/**
!datasets/**/README.md